/*main setting*/
@media screen and (min-width: 582px){
  html
  {
    font-size: 20px;
  }
}

@media screen and (max-width: 582px){
  html
  {
    font-size: 16px;
  }
}

@media screen and (min-width: 360px){
  html
  {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px){
  html
  {
    font-size: 14px;
  }
}




* {
  margin: 0; /*відступи*/
  padding: 0;
  color: #000;
  scroll-behavior: smooth;

}

body 
{
  background: #000;
}

.container 
{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 80rem;
  margin: 0 auto;
}






/*multiple pages*/
.page1,
.page2,
.page3,
.page4 
{
  width: 100%;

  height: 1125px;
  color: #fff;
}



/*content on first page*/
video{
top: 0;
width: 100%
heigth:100%;
object-fit: cover;
position: fixed;
justify-content: center; 
 margin-left: 50vw; 
 transform: translate(-50%);
 
 z-index: -1;
}

.page1 
{


  background-image: url(background/Newfolder/slice1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


main
{
  padding-top: 12rem;
  position: relative;
  display: flex;
  flex-direction: column;
 
  align-items: center;  
  z-index: 100;
}


.shaman 
{


 height: 13.5rem;

 margin-bottom: 1.5rem;
}


h2 
{
  display: flex;
  justify-content: center;
  
  align-items: center;

    border-radius: 2.5rem;
    width: 22rem;
    height: 3rem;
    background: #b7dfdf;

  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 600;
 

  animation-name: blink_blue;
  animation-duration: 2s;

}

.mail_inner
{
  width: 25rem;
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  flex-direction: column;
  
}


.mail_icon
{
  height: 2.5rem;
  margin-left: 1rem;
}


.enter_your_email, .enter_your_text , .enter_your_name
{


  transition: all .5s;

  text-align: center;
  margin-top: 1rem;
  margin-left: 0.3rem;

  
  font-size: 24px;
  font-weight: 700;


  border-radius: 2.5rem;
  width: 16.2rem;
  height: 2.5rem;
  outline: 0;
  border: 0;

 
  background: #95ABB1
 

}

.enter_your_name{
margin-top: 0.3rem ;


}



@media screen and (min-width: 508px){
  .enter_your_text{
 width: 30.2rem;
 height: 15.5rem;

}
}

@media screen and (max-width: 508px){
  .enter_your_text{
 width: 20.2rem;
 height: 10.5rem;

}
}












.enter_your_email:focus
{

  width: 22rem
}






/*button*/
.Submit_button
{
  display: flex;
  margin-top: 1rem;


  background: #95ABB1;
  justify-content: center;
  align-items: center;
  outline: none;
  border:none;

    border-radius: 1.25rem;
    width: 10rem;
    height: 2.8rem;
    transition: background .5s ease-in-out;
    margin-left: 3px;

}

.Submit_button:hover
{
   background: #b7dfdf;
}

.send
{
  
  font-size: 22px;
  font-weight: 900;


 
  
}


@media screen and (min-width: 702px){
  .container_page4{


  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4.5rem;
  
}

}

@media screen and (max-width: 702px){
  .container_page4{


  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4.5rem;
  padding-top: 70%;
}

}

.page4
{

 
  background-image: url(background/Newfolder/slice1.png);
  background-repeat: no-repeat;
   background-position: center;
  background-size: cover;


}

/*table*/




@media screen and (min-width: 702px){
  
table {
font-family: "Montserrat";
text-align: center;
border-collapse: collapse;
border-spacing: 5px;
background: #95ABB1;
border-radius: 20px;
margin-top: 1rem;
font-size: 1.2rem;
}
}

@media screen and (max-width: 702px){
  
table {
font-family: "Montserrat";
text-align: center;
border-collapse: collapse;
border-spacing: 5px;
background: #95ABB1;
border-radius: 20px;
margin-top: 1rem;
font-size: 0.5rem;
}
}

th{
font-size: 1rem;
font-weight: 16.6rem;
padding: 0.6rem 0.5rem;
border-bottom: 2px solid #b7dfdf;
color: #b7dfdf;
}
tbody tr:nth-child(2) {
border-bottom: 2px solid #b7dfdf;
}




@media screen and (min-width: 582px){
  td {
padding: 10px;
color: white;
}
}

@media screen and (max-width: 582px){
  td {
padding: 4px;
color: white;
}
}














/*page2*/

.page2 
{

 
  background-image: url(background/Newfolder/slice2.png);
  background-repeat: no-repeat;
   background-position: center;
  background-size: cover;

}


@media screen and (min-width: 430px)
{
.container_page2
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4.5rem;

}
}

@media screen and (max-width: 430px)
{
.container_page2
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
}
}




@media screen and (min-width: 1140px)
{
  .text_me 
  {
    display: flex;

  }
}



@media screen and (max-width: 1140px)
{
  .text_me 
  {
    display: flex;
     flex-direction: column;
  }
}


.text{
flex-direction: column;
}


@media screen and (min-width: 1140px)
{
.me
{
  
  height: 15.5rem;
 
  border-radius: 2rem;

  border: 1rem solid white;
  

}
}


@media screen and (max-width: 1140px)
{
.me
{
  


  margin-left: auto;
  margin-right: auto;
  height: 13.5rem;
  
  border-radius: 2rem;

  border: 1rem solid white;
 

}
}







@media screen and (min-width: 1140px)
{
 h4,h5,.h6
 {

  margin-left: 4rem;
  display: flex;
  
  align-items: center;


 
  border-radius: 1.5rem;
 
  background: white;
  opacity: 80%;




  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 600;
  
} 

h4
{
  
  justify-content: center;
  border-bottom-left-radius: 0rem; 
  border-bottom-right-radius: 0rem;
  padding: 1rem ;
}
}




@media screen and (max-width: 1140px)
{
 h4,h5,.h6
 {


  display: flex;
  
  align-items: center;


 
  border-radius: 1.5rem;
 
  background: white;
  opacity: 80%;




  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 600;
  
} 

h4
{
  margin-top: 1rem;
  justify-content: center;
  border-bottom-left-radius: 0rem; 
  border-bottom-right-radius: 0rem;
  padding: 1rem ;
}
}






h5
{
  padding: 1rem ;
 
  border-top-left-radius: 0rem; 
  border-top-right-radius: 0rem;
}



@media screen and (min-width: 1174px)
{
.h6
{


  margin-left: auto;
  margin-right: auto;
 

  justify-content: center;
 

  height: 1.5rem;
  width: 18rem;
 
  margin-top: 11rem; 
  padding: 1rem  ;

  

}
}

@media screen and (max-width: 1174px)
{
.h6
{
  margin-left: auto;
  margin-right: auto;

   display: flex;
  justify-content: center;
;

  height: 1.5rem;
  width: 18rem;
 
  margin-top: 7rem; 
  padding: 1rem  ;

 


}
}








/*program*/
.program
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
 
  flex-wrap: wrap;
  margin-top:4rem;

  opacity: 80%;

}



@media screen and (min-width: 1140px)
{
.prog_all
{
   height:6rem;
   margin-right: 1rem;
   margin-left: 1rem;

  transition: all .3s;
}



/*#hover*/
.prog_all:hover
{
  transform: rotate(15deg);
  height:7rem;

}
}






@media screen and (max-width: 1140px)
{
.prog_all
{
   height:4rem;
   margin-right: 1rem;
   margin-left: 1rem;

  transition: all .3s;
}



/*#hover*/
.prog_all:hover
{
 height:4.5rem;
}
}









/*page3*/

.page3 
{
  background-image: url(background/Newfolder/slice3.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}



@media screen and (min-width: 1780px)
{
  .pictures
  {
  display: flex;
  margin-top: 11.5rem;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}
}

@media screen and (max-width: 1780px)
{
.pictures
{

  display: flex;
  

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  margin: auto;
  
  



}
}

@media screen and (max-width: 466px)
{
  .pictures
  {
   width: 50%;
  }
}




@media screen and (min-width: 1145px)
{
.pictures_all
{
 
  width: 20rem;
  margin-bottom: 1rem;
  transition: all .6s;
  
}

/*#hover*/
.pictures_all:hover
{
width: 21rem;
}
}



@media screen and (max-width: 1145px)
{
.pictures_all
{
  
  width: 10rem;
  margin-bottom: 1rem;
  transition: all .6s;
 
}

/*#hover*/
.pictures_all:hover
{
width: 12rem;
}
}











::placeholder
{

  color: #555;
};
